{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fioulmarket - Test</h1>

    <div class="row">
        {% for image in images %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{ image }}" class="card-img-top img-fluid" title="{{ image }}" alt="Image description">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}